#title {
  color: rebeccapurple;
}

.title {
  color: blue;
}

h1 {
  color: tomato;
}

body > .title {
  color: blueviolet;
}

/* Mayor Orden o Especifidad */
/* 
body > #title {
  color: yellow;
} 
*/

/* 1 - Selectores de tipo, Pseudoelementos :: */
/* 10 - Selector de clase, Pseudoclases :, [] */
/* 100 - Selector de ID */

/* Se recomienda trabajar solo con clases, para mantener la especifidad lo menor posible */

/* Revocar especifidad */
#title {
  color: rebeccapurple;
}

.title {
  /* No recomendado usar */
  /* Sirve cuando hay estilos "en línea" (estilos en línea desde el html) */
  color: blue !important;
}

/* -------------------------------- */
body {
  font-family: monospace;
  color: tomato;
  border: 1px solid black;
}

h1 {
  border: inherit;
}

h2 {
  font-family: cursive;
}

a {
  color: inherit;
}

input {
  font-family: inherit;
}
