/* 
  Aquí va un selector de tipo
*/

h1 {
  color: crimson;
  font-size: 60px;
  text-align: center;
}

/* Selectores */

/* ---------- Selector de tipo ---------- */
/* 
h2 {
  color: orange;
  font-size: 30px;
}

p {
  color: blue;
  font-size: 20px;
} 
*/

/* Combinado */
/* 
h2,
p {
  color: brown;
  font-size: 30px;
  border: 1px solid black;
} 
*/

.titulo {
  color: brown;
  font-size: 30px;
  border: 1px solid black;
}

.negrita {
  font-weight: bold;
}
